/temp/
/back/core/ht.access
/back/.htaccess
/back/core/xpdo/
/back/core/packages/
/back/core/model/
/back/core/lexicon/
/back/core/import/
/back/core/export/
/back/core/error/
/back/core/elements/
/back/core/docs/
/back/core/config/
/back/core/cache/
/.idea/.gitignore
/.idea/deployment.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/php.xml
/.idea/vcs.xml
/.idea/xmlimport.iml
